.container.style {
    position: absolute;
    margin-inline: 17%;
}

svg.bi.bi-github {
    position: absolute;
    margin-inline: 44%;
}

svg.bi.bi-instagram {
    position: absolute;
    margin-inline: 40%;
}

ul.pagination.pagination-lg {
    position: fixed;
    position: absolute;
    margin-inline: 35.5%;
    padding-block-end: 20px;
}