#searchbox {
    margin-top: 6px;
    margin-block-end: 10px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 6px;
    width: 340px;
    text-align: center;
}

#filtered{
    margin-inline: 40%;
}

p.btn.btn-success.voteaverage_1 {
    width: 100px;
    margin-top: 15px;
}

p.btn.btn-danger.voteaverage_1 {
    width: 100px;
    margin-top: 15px;
}

svg.bi.bi-star-fill_1 {
    margin-bottom: 5px;
    margin-left: 27px;
}

svg.bi.bi-people-fill {
    margin-left: 10px;
    margin-bottom: 3px;
}

p.btn.btn-info.popu {
    width: 100px;
}

p.btn.btn-warning.popu{
    width: 100px;
}

svg.bi.bi-person-fill_1 {
    margin-left: 10px;
    margin-bottom: 4px;
}