.card.showimg {
    width: 400px;
    height: 520px;
    margin-top: 20px;
    margin-left: 50px;
}

h1.card-title {
    color:darkslategray;
    text-transform: uppercase;
    margin-left: 100px;
}

.card-body.showmovie {
    position: absolute;
    margin-left: 370px;
}

.card.showmovie {
    height: 600px;
    margin-top: 20px;
    width: 1480px;
    margin-inline: -3%;
    margin-left: -90px;
    background-color: tomato;
}

.card.footer {
    margin-top: 30px;
    margin-inline-start: 10%;
    margin-inline-end: 0%;
    padding: 50px;
    background-color: blanchedalmond;
}

.favbtn {
    width: -10px;
    margin-top: 20px;
    margin-left: 110px;
}