.card.showimg {
    width: 400px;
    height: 520px;
    margin-top: 20px;
    margin-left: 50px;
}

.card-body.showmovie {
    position: absolute;
    margin-left: 460px;
    height: 520px;
    border-radius: 0px;
    margin-top: 20px;
    margin-right: 10px;
}

.card.showmovie {
    height: 600px;
    margin-top: 20px;
    width: 1480px;
    margin-inline: -3%;
    margin-left: -90px;
    background-color: tomato;
}

.card.footer {
    margin-top: 30px;
    margin-inline-start: 2%;
    margin-inline-end: 0%;
    padding: 50px;
    background-color: blanchedalmond;
}

.favbtn {
    margin-top: 20px;
}

p.btn.btn-danger.voteaverage {
    display: flex;
    width: 71px;
    position: absolute;
    margin-inline: -18%;
    margin-block-start: -14%;
}

p.btn.btn-success.voteaverage {
    display: flex;
    width: 71px;
    position: absolute;
    margin-inline: -18%;
    margin-block-start: -14%;
}

svg.bi.bi-star-fill {
    margin-left: 6px;
    margin-top: 2px;
}

svg.bi.bi-person-fill {
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 12px;
}

svg.bi.bi-calendar {
    margin-top: 3px;
    margin-right: 16px;
}

p.btn.btn-primary.releasedate {
    width: 160px;
    display: flex;
    position: absolute;
    margin-inline: -27%;
    margin-block-start: 34%;
}

p.btn.btn-primary.votecount {
    width: 120px;
    display: flex;
    position: absolute;
    margin-inline: -40%;
    margin-block-start: 34%;
}